# https://github.com/github/gitignore/blob/main/Global/VirtualEnv.gitignore
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
build*
dist
__pycache__
.DS_*